/*
Styling of App components.
*/

.App {
  text-align: center;
  background-color: #FAFAF5;
  height: 100%;
}

.App-header {
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
}

h1 {
  padding-top: -2%;
  text-align: left;
  font-family: 'Playfair-Display';
  font-size: calc(25px + 2vmin);
}

.login-box {
  color : white;
}
/* output-onlinepngtools (4) 1 */
 
img {
  position: absolute;
  padding-left: 50%;
  padding-top: 5%;
  width: 50%;
}

button {
  width: 10%;
}

