.homepage {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.hello-message {
    width: 100%;
    color: #3f6492;
    font-size: 80px;
    position: relative;
    text-align: center;
    margin: 0;
    top: 15%;
    left: 0%;
}