.homepage {
    width: 100%;
    min-height: 40em;
    position: absolute;
    top: 80px;
    justify-content: center;
    background-color: #f9e8d0
}

.hello-message {
    width: 100vw;
    color: #2d2d2d;
    font-size: 80px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.positive-message {
    width: 100vw;
    text-align: center;

    font-size: 35px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #2d2d2d
}

.nav-buttons {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    button {
        margin: 10px;
        width: 500px;
        height: 60px;
        font-family: 'Playfair-Display';
        font-weight: bold;
        border-radius: 20px;
        font-size: 18px;
        color: #fafaf5;
        border: none;
    }
    button:hover {
            filter: brightness(85%);
        }
}