
.navbar {
    top: 0%;
    height: 80px;
    width: 100%;
    box-shadow: 4px 0px 15px rgb(208, 205, 194);
    position: fixed;
}

.titles-container {
    width: 80%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
    vertical-align: middle;
    position: fixed;
}

.pagetitle {
    cursor: default;
    font-family: 'Playfair-Display';

    .generate {
        left: 30%;
    }

    .saved {
        left: 50%;
    }
}

.pagetitle:hover {
    text-shadow: 2px 2px 9px rgb(200, 195, 188);
}

.maintitle {
    cursor: default;
    font-family: 'Playfair-Display';
    
}