.navbar {
    position: absolute;
    top: 0%;
    height: 8%;
    width: 100%;
    box-shadow: 4px 0px 15px rgb(208, 205, 194);
    display: flex;
    align-items: center;
    position: fixed;
}

h3 {
    cursor: default;
    font-family: 'Playfair-Display';
    padding-left: 7.3%;
    padding-right: 7.3%;
}

h1 {
    cursor: default;
    padding-left: 7%;
    padding-right: 7%;
    font-family: 'Playfair-Display';
}