
.navbar {
    height: 80px;
    width: 100%;
    box-shadow: 4px 0px 15px rgb(208, 205, 194);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titles-container {
    width: 80%;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    left: 8%;
    align-items: center;
    vertical-align: middle;
    position: fixed;
}

.pagetitle {
    cursor: default;
    font-family: 'Playfair-Display';

    .generate {
        left: 30%;
    }

    .saved {
        left: 50%;
    }
}

.pagetitle:hover {
    text-shadow: 1px 1px 15px rgb(198, 193, 186);
}

.maintitle {
    cursor: default;
    font-family: 'Playfair-Display';
    
}