.saved-page {
    width: 92%;
    left: 4%;
    min-height: 47em;
    position: absolute;
    top: 180px;
    margin-top: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-auto-rows: 400px;
    gap: 25px;
    overflow-y:scroll;
    justify-content: center;
}

.header {
    position: relative;
    margin: 0;
    top: 125px;
    left: 5%;
    font-size: 40px;
    letter-spacing: 1px;
}
.outfit-box {
    width: 100%;
    height: 100%;
    background-color: #d2708943;
    border-radius: 18px;
}